@model AondeVamosAlmocar.ViewModels.UsuarioViewModel

@{
	ViewBag.Title = "Usuário";
}

@using (Html.BeginForm())
{
	<div class="jumbotron form-horizontal" style="height: 600px">

		<h2>Usuários</h2>
		<table class="table">
			@foreach (var item in Model.Usuarios)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
				</tr>
			}
		</table>
	</div>
}

<div>
	@Html.ActionLink("Criar usuário", "Create", "Usuario", routeValues: null, htmlAttributes: new { id = "usuarioLink", style = "font-size: 30px" })

	@Html.ActionLink("Voltar", "Index", "Home", routeValues: null, htmlAttributes: new { style = "margin-left: 30px" })
</div>
