<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Erro</title>
</head>
<body>
	<hgroup>
		<h1>Erro.</h1>
		<h2>Aconteceu um erro ao processar sua requisição. Por favor tente novamente mais tarde.</h2>
	</hgroup>
</body>
</html>
